*{
    margin: 0;
    padding: 0;
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

body{
    background: #969fab;
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
}
.container{
    width: 700px;
    margin: 30px auto 0;
}

header{
    background: #42517f;
    border-bottom: 1px solid #000;
}
header h3 {
    color: #fff;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    word-spacing: 1px;
    text-shadow: 1px 1px 2px #000;
}

#content {
    background: linear-gradient(to top, #848c9c 0%,#687080 50%,#a7b1c5 100%);
    background: -webkit-linear-gradient(bottom, #848c9c 0%,#687080 50%,#a7b1c5 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.gallery{
    width: 528px;
    margin: auto;
}
.gallery ul{
    list-style: none;
}

.gallery li {
    float: left;
    margin: 10px;
}

.gallery img {
    display: block;
    padding: 5px;
    background-color: #42517f;
    border: 1px solid #99adeb;
    box-shadow: 1px 1px 2px #000;
}

.gallery img:hover{
    border: 1px solid #fff;
}

footer{
    background-color: #222222;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
}
